 <!--
Welcome Slider
==================================== -->

<section class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 align-self-center mb-4 mb-lg-0">
				<div class="video-player">
					<img class="img-fluid rounded" src="images/slider/slider-bg-2.jpg" alt="">
					<!--<a class="play-icon">
						<i class="tf-ion-ios-play" data-video="https://www.youtube.com/embed/g3-VxLQO7do?autoplay=1"></i>
					</a>-->
				</div>
			</div>
			<div class="col-lg-6">
				<div class="block">
					<h2>Bienvenid@s a MAGOS</h2>
					<p>Estamos para apoyar con tus metas por medio cuidando tus ahorro y brindando los mejores préstamos. </p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a data-scroll href="#services" class="btn btn-main">Servicios</a>		
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>	