<section class="services section-xs"  id="services">
	<div class="container">
		<div class="row">
			<!-- Single Service Item -->
			<div class="col-md-4 col-sm-6 col-xs-12" >
				<div class="service-block color-bg text-center">
					<div class="service-icon text-center">
						<img src="images/icons/bitcoin-safety-shield.png" alt="">
					</div>
					<h3>Cuenta de ahorros</h3>
					<p>La mejor manera de cuidar su dinero y obtener ganancias</p>
				</div>
			</div>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<div class="col-md-4 col-sm-6 col-xs-12" >
				<div class="service-block text-center">
					<div class="service-icon text-center">
						<img src="images/icons/bitcoin-exchange.png" alt="">
					</div>
					<h3>Préstamos</h3>
					<p>Con la tasa de interés más baja del mercado: 2% para asociados y 2.5% para clientes</p>
				</div>
			</div>
			<!-- End Single Service Item -->
			
			<!-- Single Service Item -->
			<div class="col-md-4 col-sm-6 col-xs-12 mx-auto"  >
				<div class="service-block color-bg text-center">
					<div class="service-icon text-center">
						<img src="images/icons/bitcoin-network.png" alt="">
					</div>
					<h3>Reportes</h3>
					<p> Información constante del estado de cuenta de ahorros</p>
				</div>
			</div>
            <!-- Single Service Item -->
           <!--<div class="col-md-4 col-sm-6 col-xs-12" >
                <div class="service-block color-bg text-center">
                    <div class="service-icon text-center">
                        <img src="images/icons/bitcoin-safety-shield.png" alt="">
                    </div>
                    <h3>Easy & Secure</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>--> 
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <!--<div class="col-md-4 col-sm-6 col-xs-12" >
                <div class="service-block color-bg text-center">
                    <div class="service-icon text-center">
                        <img src="images/icons/bitcoin-safety-shield.png" alt="">
                    </div>
                    <h3>Easy & Secure</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>-->
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <!--<div class="col-md-4 col-sm-6 col-xs-12" >
                <div class="service-block color-bg text-center">
                    <div class="service-icon text-center">
                        <img src="images/icons/bitcoin-safety-shield.png" alt="">
                    </div>
                    <h3>Easy & Secure</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur.. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
                </div>
            </div>-->
            <!-- End Single Service Item -->
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
			
			
			