<!--
Start About Section
==================================== -->
<section class="service-2 section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title text-center">
          <h4>Magos</h4>
          <h2>Como trabajamos</h2>
          <span class="border"></span>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reiciendis quasi itaque, obcaecati atque sit!</p>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 p-0">
        <div class="service-item text-center">
            <span class="count">1.</span>
            <h4>Registrarse</h4>
            <p>Ingresa tus datos personales</p>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <div class="service-item text-center">
          <span class="count">2.</span>
          <h4>Cuenta de ahorro</h4>
          <p>Se crea tu cuenta en Magos teniendo tu cuenta de ahorros con nosotross.</p>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <div class="service-item text-center">
          <span class="count">3.</span>
          <h4>Préstamo</h4>
          <p>Teniendo la cuenta de ahorros podrás solicitar un préstamo con la tasa de interés más baja.</p>
        </div>
      </div>
    </div>    <!-- End row -->
  </div>    <!-- End container -->
</section>   <!-- End section -->